<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjpowernode.p2p.mapper.LoanInfoMapper">
  <resultMap id="BaseResultMap" type="com.bjpowernode.p2p.model.LoanInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="rate" jdbcType="DECIMAL" property="rate" />
    <result column="cycle" jdbcType="INTEGER" property="cycle" />
    <result column="release_time" jdbcType="DATE" property="releaseTime" />
    <result column="product_type" jdbcType="INTEGER" property="productType" />
    <result column="product_no" jdbcType="VARCHAR" property="productNo" />
    <result column="product_money" jdbcType="DECIMAL" property="productMoney" />
    <result column="left_product_money" jdbcType="DECIMAL" property="leftProductMoney" />
    <result column="bid_min_limit" jdbcType="DECIMAL" property="bidMinLimit" />
    <result column="bid_max_limit" jdbcType="DECIMAL" property="bidMaxLimit" />
    <result column="product_status" jdbcType="INTEGER" property="productStatus" />
    <result column="product_full_time" jdbcType="TIMESTAMP" property="productFullTime" />
    <result column="product_desc" jdbcType="VARCHAR" property="productDesc" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    id, product_name, rate, cycle, release_time, product_type, product_no, product_money, 
    left_product_money, bid_min_limit, bid_max_limit, product_status, product_full_time, 
    product_desc, version
  </sql>
  <select id="selectAvgHistoryRate" resultType="java.math.BigDecimal">
    select ROUND(AVG(rate) ,2) from b_loan_info
  </select>
  <select id="selectPageByType" resultType="com.bjpowernode.p2p.model.LoanInfo" resultMap="BaseResultMap">
    SELECT  <include refid="Base_Column_List"></include>
    from b_loan_info WHERE product_type = #{type}
		ORDER BY rate DESC LIMIT #{offset},#{rows}
  </select>
  <select id="selectCountRecordsByType" resultType="java.lang.Integer">
    SELECT count(*) from b_loan_info WHERE product_type = #{type}
  </select>
</mapper>